flows.json
[
    {
        "id": "7d5d0609e95ba706",
        "type": "tab",
        "label": "CNC",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2e525eb48556fea5",
        "type": "serial in",
        "z": "7d5d0609e95ba706",
        "name": "CNC",
        "serial": "d7b664f651c9fea4",
        "x": 210,
        "y": 360,
        "wires": [
            [
                "395052b9388fb7ba"
            ]
        ]
    },
    {
        "id": "395052b9388fb7ba",
        "type": "function",
        "z": "7d5d0609e95ba706",
        "name": "TrataDados",
        "func": "try{\n    let dados = msg.payload.split(\"|\");\n    let status = dados[0].substring(1);\n\n    // lê posições\n    let dadosPos = dados[1].split(\":\");\n    dadosPos = dadosPos[1].split(\",\");\n\n    let x = dadosPos[0];\n    let y = dadosPos[1];\n    let z = dadosPos[2];\n\n    // lê feed rate e spindle\n    let dadosRateSpindle = dados[2].split(\":\");\n    dadosRateSpindle = dadosRateSpindle[1].split(\",\");\n    let feedRate = dadosRateSpindle[0];\n    let spindle = dadosRateSpindle[1];\n\n    //let dadosJSON = JSON.parse('{\"status\":\"' + status + '\",\"x\":' + x + ',\"y\":' + y + ',\"z\":' + z + ',\"feedRate\":' + feedRate + ',\"spindle\":' + spindle + '}');  \n    let dadosJSON = JSON.parse('{\"status\":\"' + status + '\", \"x\":' + x + ',\"y\":' + y + ', \"z\":' + z + ', \"feedRate\":' + feedRate + ',\"spindle\":' + spindle + '}');\n    msg.payload = dadosJSON;\n}\ncatch (err){\n    return null;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 360,
        "wires": [
            [
                "41ed7bee2004644f",
                "1bb3f7ab2f7cdf4f"
            ]
        ]
    },
    {
        "id": "41ed7bee2004644f",
        "type": "function",
        "z": "7d5d0609e95ba706",
        "name": "AttDados",
        "func": "flow.set(\"dadosGlobais\",msg.payload);\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "ca9c2425c503c48e",
        "type": "inject",
        "z": "7d5d0609e95ba706",
        "name": "VariaveisGlobais",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 270,
        "y": 260,
        "wires": [
            [
                "4baa262009471fc7"
            ]
        ]
    },
    {
        "id": "4baa262009471fc7",
        "type": "change",
        "z": "7d5d0609e95ba706",
        "name": "dadosGlobais",
        "rules": [
            {
                "t": "set",
                "p": "dadosGlobais",
                "pt": "flow",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "dd1d1b98b54bcd78",
        "type": "inject",
        "z": "7d5d0609e95ba706",
        "name": "",
        "props": [],
        "repeat": "0.1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 230,
        "y": 620,
        "wires": [
            [
                "77b368595a673529"
            ]
        ]
    },
    {
        "id": "77b368595a673529",
        "type": "function",
        "z": "7d5d0609e95ba706",
        "name": "LeStatus",
        "func": "let dados = flow.get(\"dadosGlobais\");\n\nlet status = dados.status;\n\nswitch(status){\n\n    case \"Idle\":\n        msg.payload = 0;\n        break;\n    case \"Check\":\n        msg.payload = 1;\n        break;\n    case \"Run\":\n        msg.payload = 2;\n        break;\n    default:\n        msg.payload = -1;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 620,
        "wires": [
            [
                "383a48091148253c",
                "11cf333ac2a80c36",
                "a5d2efffe836df39"
            ]
        ]
    },
    {
        "id": "1bb3f7ab2f7cdf4f",
        "type": "debug",
        "z": "7d5d0609e95ba706",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 300,
        "wires": []
    },
    {
        "id": "11cf333ac2a80c36",
        "type": "ui_led",
        "z": "7d5d0609e95ba706",
        "order": 1,
        "group": "403b5aabac529f4a",
        "width": 0,
        "height": 0,
        "label": "Check",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#0000ff",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#808080",
                "value": "-1",
                "valueType": "num"
            },
            {
                "color": "#808080",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#808080",
                "value": "2",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 670,
        "y": 680,
        "wires": []
    },
    {
        "id": "a5d2efffe836df39",
        "type": "ui_led",
        "z": "7d5d0609e95ba706",
        "order": 2,
        "group": "403b5aabac529f4a",
        "width": 0,
        "height": 0,
        "label": "Run",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "2",
                "valueType": "num"
            },
            {
                "color": "#808080",
                "value": "-1",
                "valueType": "num"
            },
            {
                "color": "#808080",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#808080",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 670,
        "y": 740,
        "wires": []
    },
    {
        "id": "383a48091148253c",
        "type": "ui_led",
        "z": "7d5d0609e95ba706",
        "order": 0,
        "group": "403b5aabac529f4a",
        "width": 0,
        "height": 0,
        "label": "Idle",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#808080",
                "value": "-1",
                "valueType": "num"
            },
            {
                "color": "#808080",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#808080",
                "value": "2",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 670,
        "y": 620,
        "wires": []
    },
    {
        "id": "27a8e881b17142ca",
        "type": "http in",
        "z": "7d5d0609e95ba706",
        "name": "",
        "url": "/cnc",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 460,
        "wires": [
            [
                "7392b84a6e1a73bd"
            ]
        ]
    },
    {
        "id": "7392b84a6e1a73bd",
        "type": "function",
        "z": "7d5d0609e95ba706",
        "name": "apiDadosCNC",
        "func": "msg.payload = flow.get(\"dadosGlobais\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 460,
        "wires": [
            [
                "db734b6c2bf50614"
            ]
        ]
    },
    {
        "id": "db734b6c2bf50614",
        "type": "http response",
        "z": "7d5d0609e95ba706",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 710,
        "y": 460,
        "wires": []
    },
    {
        "id": "d7b664f651c9fea4",
        "type": "serial-port",
        "name": "RS232",
        "serialport": "COM13",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "403b5aabac529f4a",
        "type": "ui_group",
        "name": "Status",
        "tab": "9fde0ba55c496bae",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9fde0ba55c496bae",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]